body {
	margin: 0;
	padding: 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	background-color: #1a2131;
	justify-content: center;
	align-items: center;
	height: 100vh;
	color: #fff;
	}