body {
		margin: 0;
		padding: 0;
     	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
     	background-color: #1a2131;
     	justify-content: center;
     	align-items: center;
     	height: 100vh;
     	color: #fff;
		}
	 nav{
	   width: 15%;
	   padding: 1rem 2rem;
	   display: flex;
	   justify-content: space-between;
	   align-items: center;
	   background-color: rgba(0, 0, 0, 0.4);
	   position: fixed;
	   bottom: 0;
	   text-align: center;
   }