<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8" />
  <title>Home Page</title>
  <link rel="stylesheet" href="/css/home.css">
  <script type = "text/javascript" >  
        function preventBack(){
          window.history.forward();
        }   
        setTimeout("preventBack()", 0);  
        window.onunload = function () { null };  
    </script> 
</head>
<body>
  <nav>
    <div class="container">
	Welcome<a th:href="@{/user/profile}" class="text-info text-decoration-none">
    <strong sec:authentication="principal.username"></strong>
    </a>
	</div>
      <div sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></div>
  </nav>

  <div class="center-box">
    <a href="/index"><button class="get-started-btn">
      Get Started
    </button></a>

    <!-- Curved Gradient Line -->
    <svg class="curve-line" viewBox="0 0 800 100" preserveAspectRatio="none">
      <defs>
        <linearGradient id="lineGradient" x1="0%" y1="0%" x2="100%" y2="0%">
          <stop offset="0%" style="stop-color:#66b3ff; stop-opacity:1" />
          <stop offset="100%" style="stop-color:#ff66cc; stop-opacity:1" />
        </linearGradient>
      </defs>
      <path d="M 0,80 Q 400,0 800,80" stroke="url(#lineGradient)" stroke-width="4" fill="none" />
    </svg>
  </div>

</body>
</html>
